body {
    font-family: Arial, sans-serif;
    background-color: #FAFAD2;
    text-align: center;
    color: #333;
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #B0C4DE;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #800000;
    font-size: 3em;
}

h2 {
    color: #800000;
    margin-top: 30px;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery img {
    width: 30%;
    margin: 10px 0;
    border-radius: 10px;
}

.message {
    margin-top: 20px;
}

#countdown {
    font-size: 2em;
    margin: 20px 0;
    color: #ff6666;
}

.navigation a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff6666;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.navigation a:hover {
    background-color: #ff9999;
}

form {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #ff6666;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #ff9999;
}